body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
a,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
}

.justifyBetween {
  justify-content: space-between;
}

.itemsCenter {
  align-items: center;
}

footer {
  background-color: #1f2937;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

header {
  background-color: #1f2937;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-list {
  gap: 3rem;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 1px;
}

.hero {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  text-align: left;
  gap: 10rem;
  padding-top: 90px;
  padding-bottom: 90px;
}

#hero-img {
  background-color: beige;
  height: 300px;
  width: 50%;
}

button {
  background-color: #3682f6;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 11px;
}

.first-section {
  padding-left: 10%;
  padding-right: 10%;
}

.first-section h1 {
  font-size: 28px;
  padding: 20px 0;
}

.first-section .list {
  gap: 5rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

img {
  border: #3682f6 solid 3px;
  height: 100px;
  width: 100px;
  border-radius: 20px;
}
.second-section {
  background-color: #e5e7eb;
  padding: 50px 28%;
  font-size: 24px;
  font-weight: lighter;
}

.second-section h5 {
  text-align: right;
}

.third-section div {
  background-color: #3682f6;
  color: white;
  margin: 40px 10%;
  border-radius: 11px;
  text-align: left;
}

#sign-up {
  border: solid 3px white;
  color: white;
  padding: 15px 25px;
  margin-right: 80px;
}
